{% extends 'main/layout.html'%}
{% load static %}

{% block title %}О компании{% endblock %}

    {% block content %}
    <main class="about">
        <h1>Про нашу компанию</h1>
        <p>В компании Sublime Company вы сможете погрузиться в мир программирования и стать настоящим профес- сионалом благодаря курсам и наставничеству от опытных специалистов. Мы предлагаем индивидуальный подход к каждому студенту, современные технологии и профес- сиональное обучение, чтобы помочь вам достичь новых высот в IT-индустрии.</p>
    </main>

    {% endblock %}