{% extends 'main/layout.html'%}
{% load static %}

{% block title %}Материальная Помощь{% endblock %}

    {% block content %}
    <main class="money">
        <h1>Помощь разработчикам сайта</h1>
        <p>Если вы хотите <p1>материально поддержать разработчиков сайта и способствовать его бесперебойной работе</p1>, вы можете перевести деньги по следующим реквизитам. Ваш вклад поможет нам <p1>улучшать качество сервиса, добавлять новые функции и обеспечивать стабильную работу сайта.</p1> Благодарим вас за поддержку! <br> <i class="bi bi-bank2"></i> mono: 4441 1111 3892 7227</p>
    </main>

    {% endblock %}