{% extends 'main/layout.html'%}

{% block title %}Помощь{% endblock %}

    {% block content %}
    <main class="help">
        <h1>Помощь в продукте</h1>
        <p>По любым вопросом, информации и помощи вы можете обратиться по следующим контактам:<br>
        <i class="bi bi-instagram"></i> young77tash<br>
        <i class="bi bi-discord"></i> YoungStash<br>
        <i class="bi bi-telegram"></i> young77tash<br>
        <i class="bi bi-whatsapp"></i> young77tash    
        </p>
    </main>
    {% endblock %}